<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Haberkorn-bat-call-library" data-toc-modified-id="Haberkorn-bat-call-library-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Haberkorn bat call library</a></span></li><li><span><a href="#Mexico-bat-call-library" data-toc-modified-id="Mexico-bat-call-library-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Mexico bat call library</a></span></li><li><span><a href="#Ground-truthed-vs.-Computer-ID-library" data-toc-modified-id="Ground-truthed-vs.-Computer-ID-library-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Ground truthed vs. Computer ID library</a></span></li></ul></div>

In [1]:
import pandas as pd

# Haberkorn bat call library

This call library is ground truthed but does not have additional column for initial computer ID to be compaired with 'AUTO ID*' (ground truthed) column.  More data can be added to this library.

In [2]:
import pandas as pd
#Load csv containing my library of bat calls.  
rawdf = pd.read_csv('haberkornlibrary.csv')

In [3]:
rawdf.columns

Index(['INDIR', 'OUTDIR', 'FOLDER', 'IN FILE', 'CHANNEL', 'OFFSET', 'DURATION',
       'OUT FILE FS', 'OUT FILE ZC', 'DATE', 'TIME', 'HOUR', 'DATE-12',
       'TIME-12', 'HOUR-12', 'AUTO ID*', 'PULSES', 'MATCHING', 'MATCH RATIO',
       'MARGIN', 'ALTERNATE 1', 'ALTERNATE 2', 'N', 'Fc', 'Sc', 'Dur', 'Fmax',
       'Fmin', 'Fmean', 'TBC', 'Fk', 'Tk', 'S1', 'Tc', 'Qual', 'FILES',
       'MANUAL ID', 'ORGID', 'USERID', 'REVIEW ORGID', 'REVIEW USERID',
       'INPATHMD5', 'OUTPATHMD5FS', 'OUTPATHMD5ZC'],
      dtype='object')

In [4]:
rawdf.shape

(4366, 44)

In [5]:
#Make dataframe with appropriate columns
rawdf = rawdf[['AUTO ID*', 'PULSES', 'MATCH RATIO', 'MARGIN', 'Fc', 'Sc', 'Dur', 'Fmax', 'Fmin', 'Fk', 'Tk', 'Tc', 'S1']]
print(rawdf.head())

  AUTO ID*  PULSES  MATCH RATIO    MARGIN      Fc      Sc    Dur    Fmax  \
0   ANTPAL    84.0        0.405  0.115610  34.398  100.16  4.531  61.385
1   ANTPAL    47.0        0.404  0.134245  31.921   60.16  4.705  50.442
2   ANTPAL    39.0        0.436  0.125273  37.542   85.40  5.815  59.703
3   CORTOW     8.0        1.000  0.819184  32.611  129.86  2.517  39.068
4   EPTFUS    42.0        0.667  0.332389  29.837   38.90  6.799  47.328

     Fmin      Fk     Tk     Tc      S1
0  33.315  36.758  3.281  4.244  449.37
1  31.128  33.465  3.509  4.386  385.39
2  35.288  40.107  3.772  5.028  242.96
3  27.399  36.423  0.491  1.406  243.54
4  28.696  31.290  4.427  6.073  301.72

In [6]:
#Add column for bandwidth of call.  Bandwidth is the difference between the maximum and minimum frequency of the call.
rawdf['BWDth'] = rawdf['Fmax'] - rawdf['Fmin']

#Add column for percent of call that contains the main body of the call.
rawdf['PkDur'] = ((rawdf['Tc'] - rawdf['Tk']) / rawdf['Dur']) * 100

In [7]:
print(rawdf.head())

  AUTO ID*  PULSES  MATCH RATIO    MARGIN      Fc      Sc    Dur    Fmax  \
0   ANTPAL    84.0        0.405  0.115610  34.398  100.16  4.531  61.385
1   ANTPAL    47.0        0.404  0.134245  31.921   60.16  4.705  50.442
2   ANTPAL    39.0        0.436  0.125273  37.542   85.40  5.815  59.703
3   CORTOW     8.0        1.000  0.819184  32.611  129.86  2.517  39.068
4   EPTFUS    42.0        0.667  0.332389  29.837   38.90  6.799  47.328

     Fmin      Fk     Tk     Tc      S1   BWDth      PkDur
0  33.315  36.758  3.281  4.244  449.37  28.070  21.253586
1  31.128  33.465  3.509  4.386  385.39  19.314  18.639745
2  35.288  40.107  3.772  5.028  242.96  24.415  21.599312
3  27.399  36.423  0.491  1.406  243.54  11.669  36.352801
4  28.696  31.290  4.427  6.073  301.72  18.632  24.209443

In [8]:
rawdf['AUTO ID*'].value_counts()

Noise     3625
NoID       310
TADBRA      96
MYOCIL      74
LASXAN      60
LASCIN      51
EPTFUS      47
LASNOC      30
PARHES      25
NYCFEM      20
LASBLO       6
MYOVEL       5
MYOCAL       4
NYCMAC       3
ANTPAL       3
EUMUND       2
MYOVOL       2
MYOOCC       2
CORTOW       1
Name: AUTO ID*, dtype: int64

In [9]:
#Drop noise data from call library
noise_index = rawdf[rawdf['AUTO ID*'] == 'Noise'].index
rawdf.drop(noise_index, inplace = True)

In [10]:
#Filtering out low quality recordings 
match_index = rawdf[rawdf['MATCH RATIO'] < 0.4].index
rawdf.drop(match_index, inplace = True)

In [11]:
rawdf['AUTO ID*'].value_counts()

TADBRA    58
LASXAN    54
MYOCIL    49
LASCIN    46
LASNOC    29
PARHES    24
NYCFEM    20
EPTFUS    18
LASBLO     5
MYOCAL     4
MYOVEL     3
ANTPAL     3
NYCMAC     3
MYOVOL     1
MYOOCC     1
CORTOW     1
Name: AUTO ID*, dtype: int64

In [12]:
rawdf.shape

(319, 15)

In [13]:
rawdf.head()

,AUTO ID*,PULSES,MATCH RATIO,MARGIN,Fc,Sc,Dur,Fmax,Fmin,Fk,Tk,Tc,S1,BWDth,PkDur
0,ANTPAL,84.0,0.405,0.115610,34.398,100.16,4.531,61.385,33.315,36.758,3.281,4.244,449.37,28.070,21.253586
1,ANTPAL,47.0,0.404,0.134245,31.921,60.16,4.705,50.442,31.128,33.465,3.509,4.386,385.39,19.314,18.639745
2,ANTPAL,39.0,0.436,0.125273,37.542,85.40,5.815,59.703,35.288,40.107,3.772,5.028,242.96,24.415,21.599312
3,CORTOW,8.0,1.000,0.819184,32.611,129.86,2.517,39.068,27.399,36.423,0.491,1.406,243.54,11.669,36.352801
4,EPTFUS,42.0,0.667,0.332389,29.837,38.90,6.799,47.328,28.696,31.290,4.427,6.073,301.72,18.632,24.209443

In [14]:
# save the data to a new csv file
from library.sb_utils import save_file
#C:\Users\matta\OneDrive\Documents\Springboard\Bat_Echolocation_Capstone\Clean_data
datapath = 'C:/Users/matta/OneDrive/Documents/Springboard/Bat_Echolocation_Capstone/Clean_data'
#haberkorn_library = rawdf.to_csv('haberkorn_library.csv')
save_file(rawdf, 'haberkorn_library.csv', datapath)

A file already exists with this name.

Do you want to overwrite? (Y/N)Y
Writing file.  "C:/Users/matta/OneDrive/Documents/Springboard/Bat_Echolocation_Capstone/Clean_data\haberkorn_library.csv"

# Mexico bat call library

I do not have the raw .wav files for this library, only the descriptive statistics for each of the files.  I believe I have matched the different columns of this library to the Haberkorn and the id-truthed libraries.

In [15]:
#Load excel file of Mexican bat call library

raw2 = pd.ExcelFile('Mexicolibrary.xlsx')

In [16]:
raw2.sheet_names

['Classifier1', 'Classifier2', 'Classifier3', 'Classifier4']

In [17]:
#Parse single excel sheet for dataframe

rawdf2 = raw2.parse('Classifier1')

rawdf2.head()

,Folds,File,Owner,Family,Genus,Spp,Guild,Country,Quality,CallDuration,...,AmpK.end,AmpKurtosis,AmpSkew,AmpVariance,AmpMoment,AmpGausR2,HiFminusStartF,FcMinusEndF,RelPwr2ndTo1st,RelPwr3rdTo1st
0,4,Anogeo-456-Maple_M00012,VZG,Phyllostomidae,Anoura,Anogeo,6,Mexico,0.434226,2.503670,...,6.150363,2.451373,-0.529526,0.010571,0.010490,0.831160,0.0,2.154368,0.298995,0.241145
1,4,Anogeo-456-Maple_M00012,VZG,Phyllostomidae,Anoura,Anogeo,6,Mexico,0.519223,2.547593,...,5.633335,2.100453,-0.385202,0.015818,0.015703,0.786119,0.0,4.185747,0.243366,0.231044
2,4,Anogeo-456-Maple_M00012,VZG,Phyllostomidae,Anoura,Anogeo,6,Mexico,0.631567,2.312634,...,7.589906,2.002653,-0.589580,0.021116,0.020946,0.987820,0.0,5.651484,0.166177,0.169072
3,4,Anogeo-456-Maple_M00012,VZG,Phyllostomidae,Anoura,Anogeo,6,Mexico,0.367486,2.233911,...,10.733286,1.874619,-0.580224,0.010325,0.010238,0.849326,0.0,2.085766,0.365763,0.128119
4,4,Anogeo-456-Maple_M00012,VZG,Phyllostomidae,Anoura,Anogeo,6,Mexico,0.590776,1.625190,...,8.439277,1.710580,0.189370,0.018930,0.018697,0.807531,0.0,1.871421,0.341701,0.000000

In [18]:
rawdf2.shape

(4685, 81)

In [19]:
rawdf2.columns

Index(['Folds', 'File', 'Owner', 'Family', 'Genus', 'Spp', 'Guild', 'Country',
       'Quality', 'CallDuration', 'Fc', 'HiFreq', 'LowFreq', 'Bndwdth',
       'FreqMaxPwr', 'PrcntMaxAmpDur', 'TimeFromMaxToFc', 'FreqKnee',
       'PrcntKneeDur', 'StartF', 'EndF', 'DominantSlope', 'SlopeAtFc',
       'StartSlope', 'EndSlope', 'SteepestSlope', 'LowestSlope', 'TotalSlope',
       'HiFtoKnSlope', 'KneeToFcSlope', 'CummNmlzdSlp', 'HiFtoFcExpAmp',
       'HiFtoFcDmp', 'KnToFcExpAmp', 'KnToFcDmp', 'HiFtoKnExpAmp',
       'HiFtoKnDmp', 'FreqLedge', 'LedgeDuration', 'FreqCtr', 'FBak32dB',
       'FFwd32dB', 'FBak20dB', 'FFwd20dB', 'FBak15dB', 'FFwd15dB', 'FBak5dB',
       'FFwd5dB', 'Bndw32dB', 'Bndw20dB', 'Bndw15dB', 'Bndw5dB', 'DurOf32dB',
       'DurOf20dB', 'DurOf15dB', 'DurOf5dB', 'Amp1stQrtl', 'Amp2ndQrtl',
       'Amp3rdQrtl', 'Amp4thQrtl', 'Amp1stMean', 'Amp2ndMean', 'Amp3rdMean',
       'Amp4thMean', 'LnExpA_StartAmp', 'LnExpB_StartAmp', 'AmpStartLn60ExpC',
       'LnExpA_EndAmp', 'LnExpB_EndAmp', 'AmpEndLn60ExpC', 'AmpK.start',
       'AmpK.end', 'AmpKurtosis', 'AmpSkew', 'AmpVariance', 'AmpMoment',
       'AmpGausR2', 'HiFminusStartF', 'FcMinusEndF', 'RelPwr2ndTo1st',
       'RelPwr3rdTo1st'],
      dtype='object')

In [20]:
#Putting together columns to match rawdf

rawdf2 = rawdf2[['Spp', 'Fc', 'TotalSlope', 'CallDuration', 'StartF', 'LowFreq', 'FreqKnee', 'TimeFromMaxToFc', 'StartSlope', 'Bndwdth', 'PrcntKneeDur']]

In [21]:
rawdf2.head()

,Spp,Fc,TotalSlope,CallDuration,StartF,LowFreq,FreqKnee,TimeFromMaxToFc,StartSlope,Bndwdth,PrcntKneeDur
0,Anogeo,69.618386,16.501900,2.503670,109.488419,67.464018,81.747286,0.756463,-29.635308,42.024402,50.579266
1,Anogeo,68.805459,16.472087,2.547593,109.014483,64.619712,80.822997,0.893621,-37.794947,44.394771,47.608501
2,Anogeo,70.297715,18.477740,2.312634,109.447511,64.646231,83.699015,0.734879,-33.103609,44.801280,43.624168
3,Anogeo,71.891085,18.685895,2.233911,113.408873,69.805319,84.027946,1.069576,-41.348016,43.603553,49.564504
4,Anogeo,73.410948,23.020184,1.625190,107.204335,71.539526,82.883904,0.842277,-30.690332,35.664809,54.997229

In [22]:
#Change column names to match rawdf 

rawdf2.columns = ['Spp', 'Fc', 'Sc', 'Dur', 'Fmax', 'Fmin', 'Fk', 'Tk', 'S1', 'BWDth', 'PkDur']

rawdf2.head()

,Spp,Fc,Sc,Dur,Fmax,Fmin,Fk,Tk,S1,BWDth,PkDur
0,Anogeo,69.618386,16.501900,2.503670,109.488419,67.464018,81.747286,0.756463,-29.635308,42.024402,50.579266
1,Anogeo,68.805459,16.472087,2.547593,109.014483,64.619712,80.822997,0.893621,-37.794947,44.394771,47.608501
2,Anogeo,70.297715,18.477740,2.312634,109.447511,64.646231,83.699015,0.734879,-33.103609,44.801280,43.624168
3,Anogeo,71.891085,18.685895,2.233911,113.408873,69.805319,84.027946,1.069576,-41.348016,43.603553,49.564504
4,Anogeo,73.410948,23.020184,1.625190,107.204335,71.539526,82.883904,0.842277,-30.690332,35.664809,54.997229

In [23]:
#Comparing the columns of the two dataframes.  rawdf has AUTO ID* which will be changed to Spp.  PULSES, MATCH RATIO, MARGIN, and Tc will be removed later.

rawdf.head()

,AUTO ID*,PULSES,MATCH RATIO,MARGIN,Fc,Sc,Dur,Fmax,Fmin,Fk,Tk,Tc,S1,BWDth,PkDur
0,ANTPAL,84.0,0.405,0.115610,34.398,100.16,4.531,61.385,33.315,36.758,3.281,4.244,449.37,28.070,21.253586
1,ANTPAL,47.0,0.404,0.134245,31.921,60.16,4.705,50.442,31.128,33.465,3.509,4.386,385.39,19.314,18.639745
2,ANTPAL,39.0,0.436,0.125273,37.542,85.40,5.815,59.703,35.288,40.107,3.772,5.028,242.96,24.415,21.599312
3,CORTOW,8.0,1.000,0.819184,32.611,129.86,2.517,39.068,27.399,36.423,0.491,1.406,243.54,11.669,36.352801
4,EPTFUS,42.0,0.667,0.332389,29.837,38.90,6.799,47.328,28.696,31.290,4.427,6.073,301.72,18.632,24.209443

In [24]:
rawdf2['Spp'].value_counts()

Myovel    100
Myocal    100
Lasxan    100
Sacbil    100
Lepyer    100
Ptedav    100
Idiphy    100
Antpal    100
Permac    100
Myokea    100
Myovol    100
Nychum    100
Rhynas    100
Nycfem    100
Piphes    100
Artjam    100
Lasblo    100
Pipsub    100
Rhoaen    100
Cormex    100
Eptfus    100
Mormeg    100
Myoyum    100
Tadbra    100
Myothy    100
Eptfur    100
Lascin    100
Ptepar    100
Lasnoc    100
Myoaur    100
Pteper    100
Balpli    100
Cortow    100
Saclep    100
Natstr     97
Stulud     95
Desrot     94
Molmol     91
Noclep     81
Tracir     74
Myomel     73
Maccal     69
Eptbra     64
Nyclat     57
Artlit     55
Stulil     51
Anogeo     48
Lasbor     47
Ptegym     47
Molruf     36
Molsin     33
Thytri     31
Rhopar     27
Nycmac     22
Balio      22
Carper     22
Procen     18
Eumund     16
Lasega     15
Name: Spp, dtype: int64

In [25]:
#List of species to retain in Mexican bat call library

common_species = ['Maccal', 'Lepyer', 'Antpal', 'Cortow', 'Eptfus', 'Eumund', 'Lasnoc', 'Lasblo', 'Lasxan', 'Myocal', 'Myothy', 'Myovel', 'Myovol', 'Myoyum', 'Nycfem', 'Tadbra', 'Piphes']

In [26]:
rdf2 = rawdf2.loc[rawdf2['Spp'].isin(common_species),:]

In [27]:
rdf2.shape

(1585, 11)

In [28]:
rdf2['Spp'].value_counts()

Myovel    100
Myovol    100
Lasxan    100
Eptfus    100
Lepyer    100
Lasblo    100
Myocal    100
Piphes    100
Cortow    100
Myoyum    100
Lasnoc    100
Nycfem    100
Myothy    100
Tadbra    100
Antpal    100
Maccal     69
Eumund     16
Name: Spp, dtype: int64

In [29]:
rdf2.head()

,Spp,Fc,Sc,Dur,Fmax,Fmin,Fk,Tk,S1,BWDth,PkDur
48,Antpal,29.682143,2.901752,6.677325,51.913985,29.563483,35.484384,1.896671,-13.261031,22.350502,42.456971
49,Antpal,29.740707,4.233691,6.547622,62.085939,29.156824,37.478233,1.774427,-17.648151,32.929115,40.052484
50,Antpal,24.481353,2.501930,9.922187,49.176052,22.264376,31.074040,2.225043,-9.326721,26.911676,37.163160
51,Antpal,21.985593,2.041676,10.615288,47.155265,21.494085,29.988552,4.029702,-6.554913,25.661180,38.898737
52,Antpal,31.996077,3.709009,8.246364,61.109044,29.875009,40.815202,3.439792,-12.409399,31.234035,36.234372

In [30]:
# save the data to a new csv file
#from library.sb_utils import save_file
#C:\Users\matta\OneDrive\Documents\Springboard\Bat_Echolocation_Capstone\Clean_data
#datapath = 'C:/Users/matta/OneDrive/Documents/Springboard/Bat_Echolocation_Capstone/Clean_data'
#haberkorn_library = rawdf.to_csv('haberkorn_library.csv')
save_file(rdf2, 'mexico_library.csv', datapath)

A file already exists with this name.

Do you want to overwrite? (Y/N)Y
Writing file.  "C:/Users/matta/OneDrive/Documents/Springboard/Bat_Echolocation_Capstone/Clean_data\mexico_library.csv"

# Ground truthed vs. Computer ID library

This library contains computer id and ground truthed id ('AUTO ID*) for every file processed.  Noise files have been removed.  NoID files were retained but could be removed (This would likely improve accuracy of the computer id).  Typically, NoID files contain noise + bat sound, noise that is similar to a bat, or multiple species of bats that interfeir with each other, so it may be worth removing.  Accuracy of the computer id was determined to be 68.2%.

In [31]:
#Ground truthed call library
rawtruthed = pd.read_csv('id-truthed.csv')

In [32]:
#view columns for dataframe
rawtruthed.columns

Index(['INDIR', 'OUTDIR', 'FOLDER', 'IN FILE', 'CHANNEL', 'OFFSET', 'DURATION',
       'OUT FILE FS', 'OUT FILE ZC', 'DATE', 'TIME', 'HOUR', 'DATE-12',
       'TIME-12', 'HOUR-12', 'AUTO ID*', 'PULSES', 'MATCHING', 'MATCH RATIO',
       'MARGIN', 'ALTERNATE 1', 'ALTERNATE 2', 'N', 'Fc', 'Sc', 'Dur', 'Fmax',
       'Fmin', 'Fmean', 'TBC', 'Fk', 'Tk', 'S1', 'Tc', 'Qual', 'FILES',
       'MANUAL ID', 'ORGID', 'USERID', 'REVIEW ORGID', 'REVIEW USERID',
       'INPATHMD5', 'OUTPATHMD5FS', 'OUTPATHMD5ZC'],
      dtype='object')

In [33]:
#Shape of dataframe
rawtruthed.shape

(14730, 44)

In [34]:
#Make dataframe with appropriate columns
rawtruthed1 = rawtruthed[['IN FILE', 'AUTO ID*', 'PULSES', 'MATCH RATIO', 'MARGIN', 'Fc', 'Sc', 'Dur', 'Fmax', 'Fmin', 'Fk', 'Tk', 'Tc', 'S1']]
print(rawtruthed1.head())

                      IN FILE AUTO ID*  PULSES  MATCH RATIO    MARGIN      Fc  \
0    NoID_20200716_212136.wav   ANTPAL    97.0        0.258  0.088132  32.032
1  ANTPAL_20190607_204646.wav   ANTPAL    16.0        0.875  0.498225  28.955
2  ANTPAL_20200716_211653.wav   ANTPAL    14.0        0.714  0.512325  29.955
3  ANTPAL_20190626_205037.wav   ANTPAL     9.0        0.444  0.224854  32.315
4  EPTFUS_20200301_191434.wav   EPTFUS   161.0        0.398  0.114901  35.502

      Sc    Dur    Fmax    Fmin      Fk     Tk     Tc      S1
0  84.83  3.601  43.750  31.157  35.004  2.090  3.370  326.50
1  61.99  6.088  48.466  27.932  30.731  4.213  5.505  208.94
2  68.58  2.948  39.362  29.800  31.430  1.990  2.898  297.09
3  92.00  4.292  54.628  31.916  35.201  2.918  4.116  547.76
4  31.02  6.288  46.429  34.205  37.141  3.196  5.315  332.20

In [35]:
#Add column for bandwidth of call.  Bandwidth is the difference between the maximum and minimum frequency of the call.
rawtruthed1['BWDth'] = rawtruthed1['Fmax'] - rawtruthed1['Fmin']

#Add column for percent of call that contains the main body of the call.
rawtruthed1['PkDur'] = ((rawtruthed1['Tc'] - rawtruthed1['Tk']) / rawtruthed1['Dur']) * 100

<ipython-input-35-3eacb2414fa7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawtruthed1['BWDth'] = rawtruthed1['Fmax'] - rawtruthed1['Fmin']
<ipython-input-35-3eacb2414fa7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawtruthed1['PkDur'] = ((rawtruthed1['Tc'] - rawtruthed1['Tk']) / rawtruthed1['Dur']) * 100

In [36]:
print(rawtruthed1.head())

                      IN FILE AUTO ID*  PULSES  MATCH RATIO    MARGIN      Fc  \
0    NoID_20200716_212136.wav   ANTPAL    97.0        0.258  0.088132  32.032
1  ANTPAL_20190607_204646.wav   ANTPAL    16.0        0.875  0.498225  28.955
2  ANTPAL_20200716_211653.wav   ANTPAL    14.0        0.714  0.512325  29.955
3  ANTPAL_20190626_205037.wav   ANTPAL     9.0        0.444  0.224854  32.315
4  EPTFUS_20200301_191434.wav   EPTFUS   161.0        0.398  0.114901  35.502

      Sc    Dur    Fmax    Fmin      Fk     Tk     Tc      S1   BWDth  \
0  84.83  3.601  43.750  31.157  35.004  2.090  3.370  326.50  12.593
1  61.99  6.088  48.466  27.932  30.731  4.213  5.505  208.94  20.534
2  68.58  2.948  39.362  29.800  31.430  1.990  2.898  297.09   9.562
3  92.00  4.292  54.628  31.916  35.201  2.918  4.116  547.76  22.712
4  31.02  6.288  46.429  34.205  37.141  3.196  5.315  332.20  12.224

       PkDur
0  35.545682
1  21.222076
2  30.800543
3  27.912395
4  33.699109

In [37]:
rawtruthed1['AUTO ID*'].value_counts()

Noise     8860
TADBRA    1900
NoID      1621
MYOYUM     742
PARHES     544
LASCIN     288
LASNOC     264
LASXAN     130
EPTFUS     122
MYOCAL      82
LASBLO      63
EUMUND      35
EUMPER      25
NYCFEM      12
MYOVOL       9
MYOTHY       7
MYOOCC       6
NYCMAC       6
MYOCIL       5
ANTPAL       4
MYOVEL       3
MYOEVO       2
Name: AUTO ID*, dtype: int64

In [38]:
#Drop noise files from dataframe
noise_index2 = rawtruthed1[rawtruthed1['AUTO ID*'] == 'Noise'].index
rawtruthed1.drop(noise_index2, inplace = True)

C:\Users\matta\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [39]:
rawtruthed1['AUTO ID*'].value_counts()

TADBRA    1900
NoID      1621
MYOYUM     742
PARHES     544
LASCIN     288
LASNOC     264
LASXAN     130
EPTFUS     122
MYOCAL      82
LASBLO      63
EUMUND      35
EUMPER      25
NYCFEM      12
MYOVOL       9
MYOTHY       7
MYOOCC       6
NYCMAC       6
MYOCIL       5
ANTPAL       4
MYOVEL       3
MYOEVO       2
Name: AUTO ID*, dtype: int64

In [40]:
rawtruthed1['COMP ID'] = rawtruthed1['IN FILE'].astype(str).str[0:6]

<ipython-input-40-90dde91e8ddf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawtruthed1['COMP ID'] = rawtruthed1['IN FILE'].astype(str).str[0:6]

In [41]:
print(rawtruthed1.head())

                      IN FILE AUTO ID*  PULSES  MATCH RATIO    MARGIN      Fc  \
0    NoID_20200716_212136.wav   ANTPAL    97.0        0.258  0.088132  32.032
1  ANTPAL_20190607_204646.wav   ANTPAL    16.0        0.875  0.498225  28.955
2  ANTPAL_20200716_211653.wav   ANTPAL    14.0        0.714  0.512325  29.955
3  ANTPAL_20190626_205037.wav   ANTPAL     9.0        0.444  0.224854  32.315
4  EPTFUS_20200301_191434.wav   EPTFUS   161.0        0.398  0.114901  35.502

      Sc    Dur    Fmax    Fmin      Fk     Tk     Tc      S1   BWDth  \
0  84.83  3.601  43.750  31.157  35.004  2.090  3.370  326.50  12.593
1  61.99  6.088  48.466  27.932  30.731  4.213  5.505  208.94  20.534
2  68.58  2.948  39.362  29.800  31.430  1.990  2.898  297.09   9.562
3  92.00  4.292  54.628  31.916  35.201  2.918  4.116  547.76  22.712
4  31.02  6.288  46.429  34.205  37.141  3.196  5.315  332.20  12.224

       PkDur COMP ID
0  35.545682  NoID_2
1  21.222076  ANTPAL
2  30.800543  ANTPAL
3  27.912395  ANTPAL
4  33.699109  EPTFUS

In [42]:
rawtruthed1['COMP ID'].value_counts()

NoID_2    1617
TADBRA    1563
MYOYUM     855
PARHES     524
LASNOC     392
LASCIN     372
EPTFUS     131
LASXAN     126
MYOCAL      87
LASBLO      73
EUMUND      43
EUMPER      16
MYOCIL      12
MYOOCC      10
NYCMAC       7
MYOVOL       6
202002       5
MYOTHY       5
NYCFEM       5
202003       4
ANTPAL       3
202004       3
201912       2
202005       2
202001       2
202011       1
MYOEVO       1
201910       1
201909       1
MYOVEL       1
Name: COMP ID, dtype: int64

In [43]:
#List of species rows to keep
keep_species = ['NoID_2', 'TADBRA', 'MYOYUM', 'PARHES', 'LASNOC', 'LASCIN', 'EPTFUS', 'LASXAN', 'MYOCAL', 'LASBLO', 'EUMUND', 'EUMPER', 'MYOCIL', 'MYOOCC', 'NYCMAC', 'MYOVOL', 'MYOTHY', 'NYCFEM', 'ANTPAL', 'MYOEVO', 'MYOVEL']

In [44]:
rawtruthed2 = rawtruthed1.loc[rawtruthed1['COMP ID'].isin(keep_species),:]

In [45]:
rawtruthed2['COMP ID'].value_counts()

NoID_2    1617
TADBRA    1563
MYOYUM     855
PARHES     524
LASNOC     392
LASCIN     372
EPTFUS     131
LASXAN     126
MYOCAL      87
LASBLO      73
EUMUND      43
EUMPER      16
MYOCIL      12
MYOOCC      10
NYCMAC       7
MYOVOL       6
NYCFEM       5
MYOTHY       5
ANTPAL       3
MYOEVO       1
MYOVEL       1
Name: COMP ID, dtype: int64

In [46]:
rawtruthed2['COMP ID'] = rawtruthed2['COMP ID'].replace({'NoID_2' : 'NoID'})

<ipython-input-46-40bb4392d1b3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawtruthed2['COMP ID'] = rawtruthed2['COMP ID'].replace({'NoID_2' : 'NoID'})

In [47]:
rawtruthed2['COMP ID'].value_counts()

NoID      1617
TADBRA    1563
MYOYUM     855
PARHES     524
LASNOC     392
LASCIN     372
EPTFUS     131
LASXAN     126
MYOCAL      87
LASBLO      73
EUMUND      43
EUMPER      16
MYOCIL      12
MYOOCC      10
NYCMAC       7
MYOVOL       6
NYCFEM       5
MYOTHY       5
ANTPAL       3
MYOEVO       1
MYOVEL       1
Name: COMP ID, dtype: int64

In [48]:
#Determining matching of 'COMP ID' to 'AUTO ID*' in rawtruthed2 dataframe.
import numpy as np

rawtruthed2['Result'] = np.where(rawtruthed2['AUTO ID*'] == rawtruthed2['COMP ID'],
                        'True', 'False')

<ipython-input-48-17defc17cf5a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawtruthed2['Result'] = np.where(rawtruthed2['AUTO ID*'] == rawtruthed2['COMP ID'],

In [49]:
rawtruthed2.columns

Index(['IN FILE', 'AUTO ID*', 'PULSES', 'MATCH RATIO', 'MARGIN', 'Fc', 'Sc',
       'Dur', 'Fmax', 'Fmin', 'Fk', 'Tk', 'Tc', 'S1', 'BWDth', 'PkDur',
       'COMP ID', 'Result'],
      dtype='object')

In [50]:
rawtruthed2['Result'].value_counts()

True     3990
False    1859
Name: Result, dtype: int64

In [51]:
#Determining percent accuracy of computer id ('COMP ID')

sum(rawtruthed2['Result'] == 'True') / len(rawtruthed2) * 100

68.21678919473413

In [52]:

for i in [float(x/10) for x in range(10)]:
    print(i)
    tempdf = rawtruthed2[rawtruthed2['MATCH RATIO'] > i]
    print(len(tempdf))
    print(sum(tempdf['Result'] == 'True') / len(tempdf) * 100)

0.0
4234
73.85451110061408
0.1
4217
74.00995968698126
0.2
4083
74.96938525593926
0.3
3639
77.13657598241275
0.4
2934
80.33401499659169
0.5
2170
84.47004608294931
0.6
1582
87.61061946902655
0.7
1077
89.322191272052
0.8
608
92.26973684210526
0.9
299
90.63545150501672

In [53]:
# save the data to a new csv file
#C:\Users\matta\OneDrive\Documents\Springboard
#datapath = 'C:/Users/matta/OneDrive/Documents/Springboard/Clean_data'
save_file(rawtruthed2, 'truthed_library.csv', datapath)

A file already exists with this name.

Do you want to overwrite? (Y/N)Y
Writing file.  "C:/Users/matta/OneDrive/Documents/Springboard/Bat_Echolocation_Capstone/Clean_data\truthed_library.csv"